* {
  font-family: "Michroma", sans-serif; /*aplica a fonte para todo o site*/
  list-style: none; /*remove as bolinhas das listas*/
  text-decoration: none; /*remove o sublinhado dos links*/
  margin: 0; /*remove a margem padrao dos elementos*/
  padding: 0; /*remove o padding padrao dos elementos*/
}
html, body {
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
}
body {
  background-color: #141414; /*cor de fundo do site*/
}
.container-global {
  width: 100%; /* ocupa toda a largura da tela */
  max-width: 1200px; /*limita a largura maxima do conteudo*/
  margin: 0px auto; /* centraliza o conteudo horizontalmente */
  padding: 0 20px; /* adiciona espaçamento nas laterais */
  box-sizing: border-box; /* impede que o padding aumente a largura total do elemento */
}
.container {
  max-width: 1200px; /*limita a largura maxima do conteudo*/
  margin: 0 auto;
}
.header-container {
  display: flex; /*define o container como flexbox*/
  flex-wrap: wrap; /*permite que os itens quebrem de linha se necessário*/
  align-items: center; /*alinha os itens no centro verticalmente*/
  justify-content: space-between; /*alinha os itens no centro e espaça entre eles*/
  padding: 40px 20px 15px; /*espaçamento interno*/
  border-bottom: 3px solid #5ed835;
}
.nav-list {
  display: flex; /*define o container como flexbox*/
  gap: 20px; /*adiciona espaçamento entre os itens*/
  flex-wrap: wrap; /*permite que os itens quebrem de linha se necessário*/
}
.logo {
  font-size: 2.5rem; /*tamanho da fonte do logo*/
  color: #ffffff; /*cor do logo*/
}
.nav-list a {
  color: #ffffff; /*cor dos links*/
  font-size: 1.2rem; /*tamanho da fonte dos links*/
  transition: color 0.3s; /*transição suave para a mudança de cor*/
}
.nav-list a:hover {
  color: #00aaff; /*cor dos links ao passar o mouse*/
}

