* {
  font-family: "Michroma", sans-serif; /*aplica a fonte para todo o site*/
  list-style: none; /*remove as bolinhas das listas*/
  text-decoration: none; /*remove o sublinhado dos links*/
  margin: 0; /*remove a margem padrao dos elementos*/
  padding: 0; /*remove o padding padrao dos elementos*/
}

body {
  background-color: #141414; /*cor de fundo do site*/
  
}

.section-inicio{
  width: 100%; /* Permite que o conteúdo use toda a largura disponível */
  padding: 0 5%;   /* Cria um respiro nas laterais sem prender o robô */
  margin: 0;
    position: relative;
    z-index: 2; /* Garante que o conteúdo fique acima do texto de fundo */

}
.main {
  position: relative; /* Necessário para que elementos absolutos se baseiem aqui */
  min-height: 80vh;
  display: flex;
  align-items: center;
  
}
.header-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  max-width: 1945px;      /* Acompanha a largura do site */
  margin: 0 auto;
  padding: 30px 50px;
  border-bottom: 3px solid #5ed835;
}
.nav-list {
  display: flex; /*define o container como flexbox*/
  gap: 20px; /*adiciona espaçamento entre os itens*/
  flex-wrap: wrap; /*permite que os itens quebrem de linha se necessário*/
}
.logo {
  font-size: 2.5rem; /*tamanho da fonte do logo*/
  color: #ffffff; /*cor do logo*/
}
.nav-list a {
  color: #ffffff; /*cor dos links*/
  font-size: 1.2rem; /*tamanho da fonte dos links*/
  transition: color 0.3s; /*transição suave para a mudança de cor*/
}
.nav-list a:hover {
  color: #00aaff; /*cor dos links ao passar o mouse*/
}

/*Parte chata*/
.text-deg {
  background-image: url("../img/EVO-L1.svg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain; /* Adicione isso para a imagem não cortar */
  
  position: absolute; /* Essencial para sobrepor */
  top: 150px;         /* Ajuste conforme o seu design */
  left: 0;
  right: 0;
  height: 400px;      /* Aumente a altura para aparecer bem */
  z-index: -1;        /* Joga para trás de tudo */
  pointer-events: none; /* Garante que o fundo não atrapalhe cliques em botões */
}

.container-main {
  display: flex;
  align-items: center;
 justify-content: center;
  min-height: 80vh;
  max-width: 100% !important; /* Força a ocupar os 2560px da sua tela */
  padding: 0px 20px;
  margin: 0;
  gap: 180px;              /* Espaçamento entre o robô e os textos */
 
}
.img-container {
  display: grid;
  place-items: center;      /* Centraliza o robô */
}
 
.img-robo {
  width: 110%;             /* Faz ele crescer para fora do container se necessário */
  max-width: 850px;        /* Ajuste esse valor até o tamanho ficar ideal no seu Macbook */
  transform: translateX(-5%); /* Move ele levemente para a esquerda */
  height: auto;
  margin-left: 100px;
}
.textos {              /* Ocupa um pouco menos de espaço que o robô */
  max-width: 900px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  margin-left: 6%;        /* Margem de segurança da borda direita */
  z-index: 2;
  padding: 10px ;

  color: #ffffff;
}
.textos h1 {
  font-size: 40px;
}
.textos p {
  font-size: 30px;
  margin-top: 20px;
  line-height: 1.5; /*espaçamento entre linhas*/
}
.textos h2 {
  font-size: 30px;
  margin-top: 20px;
  color: #5ed835;
}
.botao {
  width: 350px; /*largura do botao*/
  margin-top: 40px; /*espaçamento superior do botao*/
  padding: 10px 20px; /*espaçamento interno do botao*/
  font-size: 1.5rem; /*tamanho da fonte do botao*/
  color: #ffffff; /*cor do texto do botao*/
  background-color: #5ed835; /*cor de fundo do botao*/
  border: none; /*remove a borda padrao do botao*/
  border-radius: 0px 0px 38px; /*apenas 1 arredondada*/
  cursor: pointer; /*muda o cursor ao passar o mouse*/
  transition: background-color 0.3s; /*transição suave para a mudança de cor*/
}
.botao:hover {
  background-color: #00aaff; /*cor de fundo do botao ao passar o mouse*/
}
.icon-fut {
  width: 350px; /*largura do icone*/
  margin-top: 40px; /*espaçamento superior do icone*/
  cursor: pointer; /*muda o cursor ao passar o mouse*/
  transition: transform 0.3s; /*transição suave para a transformação*/
}
.icon-fut:hover {
  transform: scale(1.1); /*aumenta o tamanho do icone ao passar o mouse*/
}
